* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* css reset for headings and p text */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@font-face {
  src: url(assets/57bdbb733ef4ac8e2df3.ttf) format("ttf");
  font-family: "Dancing Script";
  font-weight: 700;
}

@font-face {
  src: url(assets/8a269a5e44015996cd27.ttf) format("ttf");
  font-family: "Dancing Script";
  font-weight: 500;
}


@font-face {
  src: url(assets/5e15416c2d596d51a588.ttf) format("ttf");
  font-family: "Dancing Script";
  font-weight: 400;
}

@font-face {
  src: url(assets/12e3683f9192436a7be8.ttf);
  font-family: "Bebas Neue";
  font-weight: 400;
}

#content {
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
  background: url(assets/4516949b6fdbca8755d7.jpg) right no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.body {
  min-height: 100vh;
  position: relative;
}
.header {
  position: relative;
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  height: 4rem;

  & .header__top, & .header__bottom {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1;
  transform: rotate(-10deg);
  color: rgba(255, 255, 255, 0.8);
}

.nav {
  font-family: "Bebas Neue", sans-serif;
  color: #C3C2C4;
  font-size: 1.5rem;

  & .nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .header {
    height: auto;
    padding: 1.25rem 2rem;
  }

  .logo {
    font-size: 1.75rem;
  }
}
.page {
  padding: 2rem 1rem;
  height: calc(100vh - 4rem);
}
.home {
  & .home__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }

  & .home__nav {
    &.nav {
      font-size: 5rem;
    }

    & .nav__list-item:hover {
      color: rgba(154, 46, 31, 1);
    }

    & .nav__list {
      flex-direction: column;
      gap: 0rem;
    }

    & .nav__list-item {
      line-height: .85;
      color: rgba(0,0,0,0.8);
      transition: all .2s ease-in-out;
    }
  }
}

@media screen and (min-width: 900px) {
  
}
.menu {
  & .menu__container {
    background: rgba(51,51,51,0.8);
    color: #C3C2C4;
    padding: 2rem 1rem 2.5rem;
    max-width: 40rem;
    margin: 0 auto;
  }

  & .menu__header {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 1.25rem;
    line-height: 1;
  }

  & .menu__items {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  & .menu__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: .5rem;
    max-width: 34.375rem;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: .75rem;
    }
  }

  & .menu__item-food {
    font-size: .875rem;
  }

  & .menu__item-price {
    font-size: .75rem;
  }

  & .dot {
    flex-grow: 1;
    border-bottom: 1px dotted #C3C2C4;
    transform: translateY(-2px);
  }
}

@media screen and (min-width: 650px) {
  .menu {
    & .menu__container {
      padding: 3rem 2rem;
    }

    & .menu__header {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 900px) {
  .menu {
    padding-top: 4rem;
  }
}
.contact {
  & .contact__container {
    background: rgba(51,51,51,0.8);
    color: #C3C2C4;
    padding: 2rem 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 21rem;
    margin: 0 auto;
  }

  & .contact__header {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 1.25rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
  }

  & .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .contact__form-group {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    max-width: 34.375rem;
    width: 100%;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: .75rem;
    }
  }

  & .contact__form-label {
    font-size: .875rem;
  }

  & .contact__form-submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    background-color: #A94637;
    color: #C3C2C4;
    padding: .25rem .75rem;
    border-radius: 8px;
    gap: .25rem;
    max-width: 34.375rem;
    margin: 0 auto;
    align-items: center;
  }
}


/*# sourceMappingURL=app.css.map*/