
#content {
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
  background: url("../../images/amel-majanovic-0s-D2GUrC-A-unsplash.jpg") right no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.body {
  min-height: 100vh;
  position: relative;
}